@import "tailwindcss";

@font-face{
    font-family:"Inter";
    src:url("./assets/inter.woff2") format("woff2");
    font-style:normal;
    font-weight:100 700 800;
    font-display:swap;
}
@theme {
    --color-flame:red;
    --color-html:#E44D26;

    /* FUENTES */
    --font-display:"Inter",system-ui,sans-serif

    /* BREAKPOINTS */
    --breakpoint-xs:350px
}
.social-button{
    @apply p-2 size-12 flex items-center justify-center rounded-full hover:scale-110 transition-transform ml-2 sm:size-16
}
:root {
    --font-display: 'Inter', system-ui, sans-serif;
}